
@{
    ViewBag.Title = "viewearning";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Earning Overview</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Today
                        </th>
                        <th>
                            This Month
                        </th>
                        <th>
                            This Year
                        </th>

                    </tr>
                </thead>

                <tbody>


                    <tr>
                        <td>
                            2500
                        </td>
                        <td>
                            2500
                        </td>
                        <td>
                            2500
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


